body {
  background-color: black;
}

section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

hr {
  background-color: #fff;
  height: 0.1rem;
  width: 10rem;
}

h3 {
  color: #eccd8f;
  text-align: center;
  font-family: "Mansalva";
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

h2 {
  margin-top: 25%;
}

.p-decor {
  color: #fff;
  font-size: 1.25rem;
  margin: 5%;
  line-height: 2;
}

#section-home {
  margin-top: 0;
}

/* Navbar */
.navbar {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.brandlogo {
  float: left;
  width: 5rem;
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
}

.brand-title {
  font-size: 1.563rem;
  font-weight: bold;
  margin-top: 0.9rem;
}

.brand-phrase {
  font-size: 0.938rem;
  font-style: italic;
  margin-left: 8.5rem;
}

.nav-item {
  padding: 0 0.625rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Home Phrase */
.phrase-div {
  text-align: center;
  color: #fff;
}

.phrase {
  font-family: "Shadows Into Light";
  font-size: 3.8rem;
  line-height: 1.5;
}

.bookbtn {
  margin: 4rem 3rem;
}

/* Home Carousel */
.carousel-div {
  text-align: center;
}

.carousel-inner {
  width: 90%;
  margin: 0 auto 0 auto;
}

.slide-img {
  border-radius: 25%;
}

/* About Us Section */
.about-detail-div {
  text-align: center;
}

.about-img-div {
  text-align: center;
}

.about-img {
  width: 90%;
  margin: 5%;
}

/* Menu Section */
.card {
  background-color: #000;
  width: 50%;
  margin: 5rem auto 5rem auto;
}

.dish-name-div {
  text-align: center;
}

@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}

/* Events Section */
.ingradient-div {
  text-align: center;
  width: 50%;
  margin: 0 auto 0 auto;
}

.ingredient-img {
  width: 100%;
}

/* Reservations Section */
#reservations {
  margin-bottom: 0;
}

.reservations-div {
  background-image: url("images/reservations.jpg");
  text-align: center;
  height: 25rem;
}

.button-div {
  display: inline-block;
  margin: 8rem auto 0 auto;
}

.btnresv {
  margin: 2rem;
}

/* Footer Section */
.footersection {
  background-color: #979797;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1.875em;
}

.footertext {
  color: black;
  font-size: 0.9375em;
}

.btndwn {
  margin-right: 0.625em;
  margin-left: 0.625em;
}

.footerdiv {
  margin-top: 3.125em;
}

.cntdiv {
  margin-top: 3.125em;
}

.totop-img {
  width: 3.125em;
  height: 3.125em;
}

.developerDetail{
  margin-top: 30px;
  font-family: "Italianno";
  font-size: 1.5rem;
}

.devlink{
  color: #fff;
}

/* Form animations */
.formbody {
  background-color: #323643;
  text-align: center;
}

.formdiv {
  text-align: center;
  background-color: #ed9153;
  width: 65%;
  height: 31rem;
  margin: 10rem auto 0 auto;
}

.text-area {
  width: 60%;
}

.frm {
  padding-top: 0.625em;
}

.msg1 {
  color: #ed9153;
  font-family: Handlee;
}

.msgdiv1 {
  text-align: center;
  margin: 25%;
}

/* order online */
.inputqty {
  width: 2rem;
  height: 1.25rem;
}

.delimg {
  width: 30%;
}
